.row
  .col-lg-12
    %h1 Features to implement
    %ul
      %li Pill-based navigation that reloads (echo our edit profile page)
      %li Long list of data that you can filter, re-order, group? (my books)
