.row
  .col-lg-12
    %h1 Welcome to Hack Night - Angularize All the Things!
    %p Here we have a very simple Rails app. Your job is to get it running with Angular and add some fancy new features!
    %ul
      %li Updates to the 'Profile' page
      %ul
        %li Update the form to do validation as the user switches fields (try showing a hint as they enter the field, and validating once they leave it)
        %li Change the pil-based navigation tabs to remember where they are, so that the user can refresh the page and be on the same section
        %li Feel free to play around with these pages by adding more content and features
      %li Updates to the 'My Books' page
      %ul
        %li Add a search box so the user can look for a specific book
        %li Add a few options for sorting and filtering, and have the view change dynamically
        %li Try putting together some front-end with an API and let the user rate books
