.row
  .col-lg-12
    %h1 Features to implement
    %ul
      %li Pill-based navigation that reloads (echo our edit profile page)
      %ul
        %li Form for user profile info with validation (move to front-end, real-time validation)
        %li Text box for bio changes size as you type
      %li Long list of data that you can filter, re-order, group? (my books)
      %ul
        %li Change from list view to grid view
        %li Sort by title, author name, date, rating
