%h1 Books!

.row
  .col-md-6
    %table.table.table-hover
      - @books.each do |book|
        %tr
          %td
            = image_tag book.image_url
          %td
            = book.title
          %td
            = book.author_name
